body {
      height: 100vh; 
      margin: 0; 
      background-color: rgb(71, 74, 132);
      display: flex;
      justify-content: center; 
      align-items: center; 
      font-family: Arial, sans-serif;   
    }

   .form_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

 .tabs {
  display: flex;
  width: 100%;
  margin: 0;
  height: 70px;
  background-color: #e5e5e5;
  border-radius: 10px 10px 0 0;
  z-index: 2;
  position: relative;
  overflow: hidden;
}

.tab {
  flex: 1;
  text-align: center;
  line-height: 70px;
  font-weight: bold;
  color: #777;
  text-decoration: none;
  border-radius: 10px 30px 0 0;
  transition: background-color 0.3s ease;
  cursor: pointer;
  user-select: none;
}

.tab.active {
  background-color: white;
  color: #333;
}

.tab:hover:not(.active) {
  background-color: #dcdcdc;
}

.form_login {
  background-color: white;
  padding: 133px 50px 50px;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  width: 500px; 
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  margin-top: -1px;
}


  .login_pegunta{
    margin-bottom: 20px;
    color: rgb(134, 133, 133);
  }

    input[type="text"],
    input[type="password"] {
      width: 100%;
      padding: 8px 5px;
      border: none;
      border-bottom: 2px solid #ccc;
      background-color: transparent;
      box-sizing: border-box;
      outline: none;
      transition: border-color 0.3s ease;
      margin-bottom: 40px;
    }

    input[type="text"]:focus,
    input[type="password"]:focus {
    border-bottom: 2px solid rgb(71, 74, 132);
    }


    button[type="submit"] {
      width: 100%;
      padding: 15px;
      background-color: rgb(225, 225, 225);
      color: gray;
      font-weight: bold;
      border: none;
      border-radius: 20px;
      cursor: pointer;
      font-size: 16px;
      transition: background-color 0.5s ease, transform 0.2s ease;
    }

    button[type="submit"]:hover {
      background-color: rgb(71, 74, 132);
      color: white;
    }

    .esqueci_senha {
      display: block;
      margin-bottom: 30px;
      color: rgb(71, 74, 132);
      font-weight: bold;
      text-decoration: none;
      font-size: 14px;
    }

    .esqueci_senha:hover {
      text-decoration: underline;
    }

    