body {
  margin: 0;
  padding: 0;
  background-color: #f0eded;
  font-family: 'Jaini', system-ui;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.ranking-container {
  background-color: white;
  border-radius: 15px;
  padding: 40px 30px;
  width: 90%;
  max-width: 700px;
  margin-top: 150px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ranking-tabs {
  display: flex;
  width: 100%;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
  margin-bottom: 30px;
}

.tab-item {
  flex: 1;
  text-align: center;
  padding: 15px;
  background-color: #e4e4e4;
  font-weight: bold;
  color: #555;
  cursor: pointer;
  transition: 0.3s;
}

.tab-item.active {
  background-color: white;
  border-bottom: 3px solid white;
  color: #333;
}

.ranking-headers {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
  width: 100%;
}

.ranking-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 15px 0 5px;
  font-size: 16px;
  color: #333;
}

hr {
  width: 100%;
  border: none;
  border-top: 1px solid #ccc;
  margin: 0 0 5px 0;
}

.ranking-voltar {
  margin-top: 30px;
  background-color: #474a84;
  color: white;
  font-weight: bold;
  padding: 15px 50px;
  border: none;
  border-radius: 30px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.ranking-voltar:hover {
  background-color: #2f3160;
}
